@model Medpharma.Web.Models.CheckOutPrescriptionInfoViewModel

@{
    var totalPayment = Model.ListMedicineStockIn.Sum(v => v.Total);

    var totalPaymentString = Model.ListMedicineStockIn.Sum(v => v.Total).ToString("C2");

    var listIn = Model.ListMedicineStockIn;
    var origin = 0;

    if(@ViewBag.IsRemaining == true)
    {
        origin = 3;
    }
    else
    {
        origin = 1;
    }
}

<style>
    .alert-danger-rem  {
        background-color: #FFD9D9;
    }
</style>

<div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between d-sm-flex align-items-center justify-content-between">
            <h5 class="card-header mb-0 text-gray-800 my-2">Checkout Prescription</h5>
        </div>
      </div>
      <div class="card-body">
          <div>
              <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h3 class="mb-0">Invoice Data</h3>
                      
                    </div>
                    <div class="card-body">
                      
                       <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                              <input readonly type="text" class="form-control bg-white" id="basic-icon-default-fullname" value="@Model.Appointment.Customer.FullName" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Document</label>
                          <div class="col-sm-10">
                            <input type="text" readonly value="@Model.Appointment.Customer.Document" class="form-control bg-white" id="basic-default-name">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                              <input readonly type="text" id="basic-icon-default-email" class="form-control bg-white" value="@Model.Appointment.Customer.UserName"  aria-label="john.doe" aria-describedby="basic-icon-default-email2">
                              <span id="basic-icon-default-email2" class="input-group-text"></span>
                            </div>
                            
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-phone2" class="input-group-text"><i class="bx bx-phone"></i></span>
                              <input readonly type="text" id="basic-icon-default-phone" class="form-control phone-mask bg-white" value="@Model.Appointment.Customer.PhoneNumber" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2">
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 form-label" for="basic-icon-default-phone">Address</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                              <input readonly type="text" id="basic-icon-default-phone" class="form-control  bg-white" value="@Model.Appointment.Customer.Address" aria-describedby="basic-icon-default-phone2">
                            </div>
                          </div>
                        </div>
                     
              @if(Model.ListMedicineStockOut.Count > 0)
                {
                    <div class="card alert-danger-rem" style="margin-top:50px">
                        <div class="card-header">
                            <p class="h4">Remaining Prescriptions</p>
                            
                        </div>
                        <div>
                            @if(@ViewBag.IsRemaining == true && Model.ListMedicineStockIn.Count == 0)
                            {
                                <p class="p-4">
                                      Your medications are not yet available, try again later
                                </p>
                            } else if(@ViewBag.IsRemaining == true && Model.ListMedicineStockIn.Count > 0)
                            {
                                <p class="p-4">
                                        These medicines are out of stock at the moment, a new prescription will be generated, which will be available in your prescription area, which you can use later.
                                    </p>
                                } else
                                {
                                    <p class="p-4">
                                        These medicines are out of stock at the moment, a new prescription will be generated, which will be available in your prescription area, which you can use later.
                                    </p>
                                }

                            
                        </div>
                        <div class="card-body">
                      <div class="card">
                     <div style="margin-top:100px;" class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Prescription</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Value</th>
                     
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                            @foreach (var order in Model.ListMedicineStockOut)
                            { 
                                <tr>
                                   <td>
                                       <img width="50" src="@order.Medicine.ImageFullPath">
                                   </td>
                                   <td>@order.Medicine.Name</td>
                                   <td>
                                    @if(@order.Medicine.NeedsPrescription)
                                    {
                                        <p style="font-size: 10px" class="badge bg-label-danger">Required</p>                                             
                                    }
                                   </td>
                                   <td>@order.Medicine.Price.ToString("C2")</td>
                                   <td>@order.Quantity</td>
                                                        <td>@order.Total.ToString("C2")</td>
                                   
                                </tr>
                           }
                    </tbody>
                  </table>     
                </div>
                </div>
                        </div>
                    </div>

                }

                
               @if(Model.ListMedicineStockIn.Count > 0)
               {
              <div style="margin-top:100px;" class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Prescription</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Value</th>
                     
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                            @foreach (var order in Model.ListMedicineStockIn)
                            { 
                                <tr>
                                   <td>
                                       <img width="50" src="@order.Medicine.ImageFullPath">
                                   </td>
                                   <td>@order.Medicine.Name</td>
                                   <td>
                                    @if(@order.Medicine.NeedsPrescription)
                                    {
                                        <p style="font-size: 10px" class="badge bg-label-danger">Required</p>                                             
                                    }
                                   </td>
                                            <td>@order.Medicine.Price.ToString("C2")</td>
                                   <td>@order.Quantity</td>
                                            <td>@order.Total.ToString("C2")</td>
                                   
                                </tr>
                           }
                    </tbody>
                  </table>     
                </div>
                <div class=" text-end mb-3" style="margin-top:100px;">
                    <div>
                      <h5 class="card-title" style="font-size:30px">Total</h5>
                                <p class="card-title" style="font-size:20px">@totalPaymentString</p>
                    </div>
                  </div>
          
                      <div class="d-grid gap-2 col-lg-6 mx-auto" style="margin-top:100px;">
                           <a asp-controller="Stripe" asp-action="Index" asp-route-origin="@origin" asp-route-appointmentId="@Model.Appointment.Id" asp-route-totalPayment="@totalPayment" class="btn btn-primary btn-lg" type="button">Payment</a>
                      </div>
                }
                    </div>
                  </div>
          </div>
      </div>
</div>

        
